<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seat book</title>
</head>
<body>
  <form action="{% url 'book' show.id %}" method="post">
    {% csrf_token %}
    {% for seat in seats %}
        <input type="checkbox" name="seats" value="{{ seat.id }}" {% if seat.id not in seat %}disable{% endif %}>
        {{ seat }}
        <br>
    {% endfor %}
    <input type="submit" value="Book">
</form>
</body>
</html>